absl-py
attrs
click
einops
gym==0.21.0
idna==2.7
imageio
importlib-metadata==4.13.0
lbforaging
matplotlib==3.5.3
mpyq==0.2.5
numpy==1.23.5
pbr==4.3.0
Pillow
pluggy==0.7.1
portpicker==1.2.0
probscale
protobuf==3.20.3
py==1.6.0
pygame
pyparsing==2.2.2
pysc2==3.0.0
pytest==4.3.1
PyYAML==5.3.1
requests==2.19.1
rware
s2clientprotocol==4.10.1.75800.0
sacred
scipy==1.9.3
six==1.11.0
sk-video==1.1.10
snakeviz
tensorboard-logger
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tornado==5.1.1
urllib3==1.23
websocket-client==0.53.0
whichcraft==0.5.2
wrapt==1.10.11
stable-baselines3==1.7.0
gaussian-adaptive-attention
git+https://github.com/oxwhirl/smac.git
psutil>=5.9.0